<% provide(:title, 'About') %>
<div class="about-sg col-xs-10 col-md-6 col-xs-offset-1">
  <h1>About Sweet Gems</h1>
    <p>
      Sweet Gems was launched in summer 2016 to combine two loves of mine – baking and geology! 
       When I bake a sweet treat, there is always some way I can integrate geology with it. 
       Maybe the color looks like a specific rock or mineral, or an ingredient reminds me of some geologic event, 
       or I simply just decorate it to look like a “sweet gem”! Whatever the story and geologic interpretation behind it, 
       I will be sure to share it with you. Not only will you get your sugar fix from Sweet Gems, 
       but you will also learn something too! 
    </p>
    <p></p>
    <p>
       For a rock nerd who has quite the sweet tooth, 
       this home bakery is quite a dream-come-true! Although I strive for the perfect baked good, 
       I rejoice in the imperfect ones, too, because even the most stunning diamonds/gemstones contain inclusions and imperfections. 
       I really think the imperfections are what make them beautiful (and usually have the coolest stories of how they got there!) 
    </p>
    <p></p>
    <p>
       Thank you for stopping by! I would love to bake for you, meet you for coffee, 
       or tour the Gem and Mineral Hall at the Houston Museum of Natural Science with you! 
    </p>
    <p></p>
    <p>
       xoxo
    </p>
    <p></p>
    <p>
       Meg
    </p>
  <h1 class="about-meg">About Meg</h1>
    <p>
      Meg is a native Texan who crossed the Red River to study geology at the University of Oklahoma. 
      She found her love for baking (and her sweet tooth) in college. She loved to bake for study groups, 
      and used any excuse to bake a fresh batch of cupcakes/cookies! 
    </p>
    <p>
      By day, Meg works as a geologist at an oil/gas company in Houston. She loves to learn about new basins around the world, 
      the history behind them, and how they developed through time. 
    </p>
    <p>
      By night, Meg is trying out new dessert recipes, hanging out with her dogs at the park, or binging on Netflix with her husband, Zach. 
      She loves experimenting with seasonal flavors, local ingredients, and applying her geologic creativity to baked goods. 
    </p>
  </div>
<div class="image col-sm-4">
  <%= image_tag("meg-temporary.jpg", :alt => "Meg") %>
</div>