<% provide(:title, 'Blog') %>
<div class="blog-content col-xs-8 col-xs-offset-2">
  <h1>Future home of the Sweet Gems Blog!</h1>
  <p>Please check back later for updates, but for now, you can follow my happenings at 
  <a target="_blank" href="https://www.megstearman.com">www.megstearman.com</a></p>
</div>
