<div class="contact col-xs-8 col-xs-offset-2">
  <h1>Contact Me!</h1>
  <p>Contact Page is coming soon! For immediate orders, shoot me an email at 
  <%= link_to("meg@sweetgemshtx.com", "mailto:meg@sweetgemshtx.com") %>!</p>
</div>

