<h1>Welcome To Sweet Gems!</h1>
<div class="owl-carousel">
  <div><%= link_to image_tag("blueberrycheesecake.jpg"), root_url, id: "blueberrycheesecake" %></div>
  <div><%= link_to image_tag("saltedcaramel.jpg"), root_url, id: "saltedcaramel" %></div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>
<p>Visit this page again later. More coming soon!</p>
