<div id="home-carousel">
<div id="heading-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#heading-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#heading-carousel" data-slide-to="1"></li>
    <li data-target="#heading-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("blueberrycheesecake.jpg", :alt => "Blueberry Cheesecake! YUM!") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag("saltedcaramel.jpg", :alt => "MMM... Caramel") %>
    </div>
    <div class="item">
      <%= image_tag("blueberrytop.jpg", :alt => "MOAR blueberries") %>
    </div>
  </div>
  <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
  <!--  <span class="icon-prev" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
  <!--  <span class="icon-next" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Next</span>-->
  <!--</a>-->
</div>
</div>
<div class="row" id="mail-signup">
  <%= link_to "Join our mailing list!", '#', class: "btn btn-lg" %>
</div>
