<div class="menu-content">
  <h1 class="menu-header">Macarons</h1>
  <div class="menu">
    <div class="menu-item menu-left">
      <div class="description col-md-8">
        <h2>Blueberry</h2>
        <p>discription paragraph</p>        
      </div>
      <div class="col-md-4 image-container">
        <%= image_tag("blueberrymenu.jpg", :alt => "Order these macs now!") %>
      </div>
    </div>
    <div class="menu-item menu-left">
      <div class="description col-md-8">
       <h2>Fruity Pebble</h2>
       <p>Yada, yada yada</p>       
      </div>
      <div class="col-md-4 image-container">
        <%= image_tag("fruitypebblemenu.jpg", :alt => "I know you want them!") %>
      </div>
    </div>
  </div>
</div>