<div class="monthly-flavor">
  <%= image_tag("FlavorOfTheMonth_Web.jpg", :alt => "Flavor of the Month: Lemon Olive Oil") %>
</div>
<div class="menu-content">
  <h1 class="menu-header">Flavors</h1>
  <div class="menu">
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Calcite</h2>
        <p>Fruity Pebbles</p>        
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Pyrite</h2>
        <p>Cinnamon Toast Crunch</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Diorite</h2>
        <p>Cookies and Cream</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Halite</h2>
        <p>Salted Caramel</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Fluorite</h2>
        <p>White Chocolate</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Flavor of the Month</h2>
        <p>Lemon Olive Oil</p>       
      </div>
    </div> 
  </div>
</div>
<div class="menu-photos">
  <div class="photo col-xs-4">
    <%= image_tag("blueberry-square.jpg", :alt => "Blueberry") %>
  </div>
  <div class="photo col-xs-4">
    <%= image_tag("pebble-square.jpg", :alt => "Fruity Pebbles") %>
  </div>
  <div class="photo col-xs-4">
    <%= image_tag("caramel-square.jpg", :alt => "Salted Caramel") %>
  </div>
</div>
<div class="price col-xs-6">
  <h1>Macarons</h1>
  <p>$22/dozen</p>
</div>
<div class="price col-xs-6">
  <h1>Cupcakes</h1>
  <p>$25/dozen</p>
</div>
<div class = "disclaimers">
  <p>Other flavors and special orders by request!</p>
  <small>*Minimum one dozen per flavor*</small>
  <small>*Orders require five days notice*</small>
</div>