.blog-content {
  margin-bottom: 50px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .blog-posts {
    margin-top: 10px;
    p {
        font-size: (1.1em !important);
    }
    h2 {
      font-size: 20px !important;
    }
    .post {
      // border: 2px solid #999;
      border-radius: 10px;
      margin-top: 10px;
      padding: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .blog-content {
    .blog-posts {
      h2 {
        font-size: 30px !important;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  } 
}