#heading-carousel {
  z-index: -1;
}

#mail-signup {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 250px;
  margin: 0 0;
}
/* THIS SECTION IS RESPONSIVE CSS FOR THE CAROUSEL HEIGHT
HOPEFULLY ILL FIND A BETTER SOLUTION FOR THIS EVENTUALLY */

@media screen and (min-width: 400px) {
  #mail-signup {
    top: 275px;
  }
}

@media screen and (min-width: 500px) {
  #mail-signup {
    top: 325px;
  }
}

@media screen and (min-width: 641px) {
  #mail-signup {
    top: 360px;
  }
}

@media screen and (min-width: 768px) {
  #heading-carousel {
    position: absolute;
    top: 0px;
  }
  #mail-signup {
    top: 310px;
  }
}

@media screen and (min-width: 1000px) {
  #mail-signup {
    top: 375px;
  }
}

@media screen and (min-width: 1200px) {
  #mail-signup {
    top: 435px;
  }
}

@media screen and (min-width: 1400px) {
#mail-signup {
    top: 500px;
  }
}

@media screen and (min-width: 1600px) {
#mail-signup {
    top: 600px;
  }
}

@media screen and (min-width: 1900px) {

}
