#heading-carousel {
  width: 90%;
  margin: auto;
}

#mail-signup {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin: 0 0 10px;
  position: relative;
  z-index: 1;
  .btn {
    margin: 10px;
  }
  #user.email {
    width: 30%;
  }
}

/* THIS SECTION IS RESPONSIVE CSS FOR THE CAROUSEL HEIGHT
HOPEFULLY ILL FIND A BETTER SOLUTION FOR THIS EVENTUALLY */


@media screen and (min-width: 768px) {
  #home-carousel{
    height: 280px;
  }
}

@media screen and (min-width: 880px) {
  #home-carousel{
    height: 330px;
  }
}

@media screen and (min-width: 1000px) {
  #home-carousel{
    height: 415px;
  }
}

@media screen and (min-width: 1200px) {
  #home-carousel{
    height: 510px;
  }
}

@media screen and (min-width: 1400px) {
  #home-carousel{
    height: 590px;
  }
}

@media screen and (min-width: 1600px) {
  #home-carousel{
    height: 660px;
  }
}

@media screen and (min-width: 1760px) {
  #home-carousel{
    height: 720px;
  }
}
