#heading-carousel {
  width: 90%;
  margin: auto;
  .item {
    a{
      position: relative;
      top: -15px;
      float: right;
      height: 0;
      font-size: 0.7em;
      padding-right: 5px;
    }
  }
}
.block-paragraph{
  width: 60%;
  margin: 20px auto;
  overflow: hidden;
  p{
    padding: 10px 0;
  }
  .col-sm-6{
    font-size: 0.8em;
  }
  img{
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #heading-carousel {
    .item {
      a{
        top: -30px;
        font-size: 1.0em;
      }
    }
  }
  .block-paragraph{
    img{

    }
  }
}


