.monthly-flavor{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  img {
    width: 90%; 
    margin: auto;
  }
}
.menu-content {
  width: 50%;
  margin: auto;
  overflow: auto;
  text-align: center;
  margin-bottom: 20px;
  h1 {
    text-align: center;
  }
  .menu-item {
    h2{
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
    }
  }
}
.menu-photos {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  overflow: auto;
  border: 3px solid $sg-blush;
  .photo {
    padding: 7px 7px;
    img {
      max-width: 100%;
    }
  }
}
.price {
  text-align: center;
  p {
    font-size: 1.5em;
    padding-bottom: 20px;
  }
}
.disclaimers {
  padding-top: 30px;
  text-align: center;
  p {
    clear: both;
    font-size: 1.1em;
  }
  .small {
    font-size: 0.8em;
    clear: both;
  }
}
.email-signup {
  overflow: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  #user_email {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .monthly-flavor{
    margin-top: 30px;
    img {
      width: 50%; 
    }
  }
  .menu-content {

    .menu-item {
      h2{
        font-size: 1.4em;
      }
      p {
        font-size: 1.0em;
      }
    }
  }
  .menu-photos {
    width: 60%;
    margin: auto;
    .photo {
      padding: 10px 40px;
      img {
        max-width: 100%;
      }
    }
  }
  .disclaimers {
    p {
      font-size: 1.6em;
    }
  }
}