.new-post {
  label {
    margin-top: 15px;
  }
  input {
    width: 100%;
  }
  .mce-tinymce {
    .mce-edit-area {
      height: 500px;
    }
    #post_content_ifr {
      height: 500px !important;
    }
  }
}