footer {
  margin-top: 45px;
  padding-top: 15px;
  color: #777;
  height: auto;
  overflow: hidden;
  h4 {
    text-align: center;
  }
  .social-icons {
    clear: both;
    margin-bottom: 0;
    ul{
      text-align: center;
      width: 100%;
      padding-left: 0;
      list-style: none;
      border-bottom: 1px solid gray;
      padding-bottom: 8px;
      margin-bottom: 0;
      li{
        padding: 5px;
        display: inline;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  nav{
    text-align: center;
    background-color: #FCEEA1;
    ul {
      margin-bottom: 0;
      list-style: none;
      padding: 10px 0;
      li {
        display: inline-block;
        margin: 0 5px;
        padding-left: none;
        a {
          color: #9d9d9d;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    width: 100%;
    clear: both;
    font-size: 1.0em;
    background-color: #FCEEA1;
    color: #9d9d9d;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .copyright {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  footer {
    margin: 45px 0 0;
    padding-top: 5px;
    border-top: 1px solid #FCEEA1;
    .footer-info{
      width: 65%;
      margin: 0 auto;
      text-align: center;
      .social-icons {
        float: left;
        width: 15%;
        margin-bottom: 5px;
        ul{
          border-bottom: none;
          margin-bottom: auto;
          padding-bottom: auto;
          img{
            width: 25px;
            height: 25px;
          }
        }
      }
      .copyright {
        float: left;
        clear: both;
        text-align: left;
        font-size: 1.2em;
        margin-top: -15px;
        background: none;
        color: #555;
      }
      nav {
        float: right;
        clear: none;
        width: auto; 
        background-color: $gray-lighter;
        ul {
          float: right;
          li {
            float: left;
            a {
              color: $gray;
              &:hover {
              color: $gray-darker;
              }
            }
          }
        }
      }
    }
  }
}