footer {
  clear: both;
  margin-top: 25px;
  background-color: #fff;
  height: auto;
  overflow: hidden;
  text-align: center;
  h4 {
    text-align: center;
    color: $sg-periwinkle;
  }
  .social-icons {
    clear: both;
    margin-bottom: 0;
    ul{
      text-align: center;
      width: 100%;
      padding-left: 0;
      list-style: none;
      padding-bottom: 5px;
      margin-bottom: 0;
      .fa-2x {
        color: $sg-periwinkle;
      }
      li{
        padding: 5px;
        display: inline;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  small {
    text-align: center;
    width: 100%;
    margin: auto;
    clear: both;
    font-size: 0.9em;
    color: $sg-lavendar;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
}