footer {
  clear: both;
  margin-top: 45px;
  padding-top: 15px;
  height: auto;
  overflow: hidden;
  h4 {
    text-align: center;
  }
  .footer-info{
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    background-color: $sg-blush;
    .social-icons {
      clear: both;
      margin-bottom: 0;
      background-color: $sg-blush;
      color: $sg-periwinkle;
      ul{
        text-align: center;
        width: 100%;
        padding-left: 0;
        list-style: none;
        padding-bottom: 8px;
        margin-bottom: 0;
        li{
          padding: 5px;
          display: inline;
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
      .fa-2x {
        color: $sg-periwinkle;
      }
    }
    .copyright {
      text-align: center;
      margin: auto;
      clear: both;
      font-size: 1.2em;
      background: none;
      color: #555;
    }
  }
}

@media screen and (min-width: 600px) {
  .copyright {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  footer {
    margin: 45px 0 0;
    padding-top: 5px;
    border-top: 1px solid #FCEEA1;
    .footer-info{
      width: 65%;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 20px;
      text-align: center;
      background-color: $sg-blush;
      .social-icons {
        width: 225px;
        margin-bottom: 5px;
        margin: auto;
        color: $sg-periwinkle;
        ul{
          border-bottom: none;
          margin-bottom: auto;
          padding-bottom: auto;
          img{
            width: 25px;
            height: 25px;
          }
        }
        .fa-2x {
          color: $sg-periwinkle;
        }
      }
      .copyright {
        text-align: center;
        margin: auto;
        clear: both;
        font-size: 1.2em;
        background: none;
        color: #555;
      }
    }
  }
}