.header{
  padding-top: 0;
}

.logo-container {
  text-align: center;
  width: 100%;
  margin: auto;
  .navbar-brand {
    margin: auto;
  }
}
.navbar{
  text-align: center;
  margin: 0 0 0;
  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    li {
      
      display: inline-block !important;
      a {
        color: $sg-periwinkle;
        font-size: 1.5em;
        font-weight: 650;
        padding: 15px 10px;
      }
    }
  }
}

.alert {
  text-align: center;
  width: 50%;
  margin: auto;
}

.success {
  text-align: center;
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  header {
    width: 90%;
    margin: auto;
    clear: both;
    overflow: auto;
    padding-bottom: 5px;
    position: relative;
    .logo-container {
      width: 30%;
      float: left;
      .logo {
        float: left;
        padding-left: 10px;
      } 
    }
    .navbar {
      width: 70%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}


