.header{
  padding-top: 0;
}
.logo {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  .navbar-brand {
    margin: auto;
  }
}
.navbar{
  text-align: center;
  margin: 0 0 0;
  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    li {
      display: inline-block !important;
      a {
        font-size: 1.5em;
        font-weight: 650;
        padding: 15px 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header{
    background-color: gray;
    background: rgba(255, 255, 255, 0.2);
    
    .logo-container{
      float: left;
      padding-left: 5%;
    }
    
    .navbar-nav {
      background: none;
      padding-right: 5%;
      li {
        a {
          font-size: 1.25em;
        }
      }
      .dropdown-menu {
        left: -10px; 
        li{
          display: block;
          a {
            padding: 5px 15px;
          }
          .divider {
            margin: 7px 0;
          }
        }
      }
    }
  }
}
