.header{
  padding-top: 0;
}

.logo-container {
  text-align: center;
  width: 100%;
  margin: auto;
  .navbar-brand {
    margin: auto;
  }
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  button {
    margin-left: 15px;
  }
  .navbar-text {
    color: $sg-periwinkle;
    }
  .navbar-nav {
    > li {
      > a {
        color: $sg-periwinkle;
        &:hover,  &:focus {
          color: $sg-periwinkle; }}}
    > .active {
      > a,  > a:focus {
        color: $sg-periwinkle;
        background-color: #fff;
        font-size: 1.1em;}
      > a:hover {
        background-color: #ddd;
        color: $sg-periwinkle;
      }
    }
  }
}

.alert {
  text-align: center;
  width: 50%;
  margin: auto;
}

.success {
  text-align: center;
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  header {
    width: 90%;
    margin: auto;
    clear: both;
    overflow: inherit;
    height: 185px;
    padding-bottom: 5px;
    position: relative;
    .logo-container {
      width: 30%;
      float: left;
      .logo {
        float: left;
        padding-left: 10px;
      } 
    }
    .navbar {
      width: 70%;
      float: right;
      font-size: 1.2em;
      right: 0;
      top: 132px;
      ul {
        ul{
          li {
            width: 100%;
          }
        }
      }
    }
  }
}


