<% provide(:title, 'Orders') %>
<div class="title"><h1>Current Orders</h1></div>

<div class="col-sm-8 col-sm-offset-2">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Customer</th>
      <th>Date Placed</th>
      <th>Completed?</th>
    </tr>
    <% @orders.each do |order| %>
      <% if !order.is_completed? %>
          <tr>
            <td><%= link_to order.name, order %></td>
            <td><%= order.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
            <td><%= order.is_completed %></td>
            <td><%= link_to 'edit', edit_order_path(order) %></td>
          </tr>
      <% end %>
    <% end %>
  </table>
</div>