<% provide(:title, 'Confirmation') %>

<div class="title col-sm-6 col-sm-offset-3" >
  <h1>Order Confirmation</h1>
  <p>Thank you so much for your order! I will be in contact as soon as
  possible to discuss the details. In the mean time, feel free to shoot 
  me an email at <%= link_to("meg@sweetgemshtx.com", "mailto:meg@sweetgemshtx.com") %>.
  Don't forget to spread the word about Sweet Gems on social media. You can 
  click on any of the links below to follow us! I'm so excited to bake for you!</p>
    
  <p>Cheers!</p>
</div>