<% provide(:title, 'Confirmation') %>

<div class="title col-sm-6 col-sm-offset-3" >
  <h1>Order Details</h1>
  <p>Name: <%= @order.name %></p>
  <p>Email: <%= @order.email %></p> 
  <p>Phone Number: <%= @order.phone %></p>
  <p>Details: <%= @order.details %></p>
</div>