$sg-periwinkle: #5A6EAD;
$sg-blush: #F4D0DC;
$sg-lavendar: #C7B2D6;
$sg-purple: #A93A88;
$sg-light-blue: #9FCEDB;
$sg-green: #2E7E79;
$sg-light-grey: #E6E7E8;
$sg-grey: #6D6E71;
$sg-dark-grey: #414042;