<% provide(:title, 'Edit Order') %>
<% provide(:button_text, 'Save changes') %>

<div class="title"><h1>Update Blog Post</h1></div>
<div class="row new-post">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>
  </div>
</div>

<%= tinymce %>