<% provide(:title, 'New Blog Post') %>
<h1 class="page-header">New Blog Post</h1>

<div class="row new-post">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>
  </div>
</div>

<%= tinymce %>