<% provide(:title, @post.title) %>
<div id="fb-root"></div>
<div class="blog-content col-sm-8 col-sm-offset-2">
  <div class="blog-posts">
    <h2><%= @post.title %></h2>
    <div class="post">
      <%= @post.content.html_safe %>  
    </div>
    <div class="fb-like" data-href="https://sweetgemshtx.com/posts" data-layout="standard" 
    data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div class="fb-comments" data-href="https://sweetgemshtx.com/posts" data-width="100%" data-numposts="5"></div>
  </div>
</div>
<script>
    var x =  window.location.href
    x = x.replace(/^https:\/\//i, 'http://');
    $(".fb-like").attr("data-href", x);
    $(".fb-comments").attr("data-href", x);
</script>
<%= puts request.original_url %>
<!--small change to test if fb disappears-->



