<div class="blog-content col-xs-10 col-xs-offset-1">
  <div class="blog-posts">
    <h2><%= @post.title %></h2>
    <div class="post">
      <%= @post.content.html_safe %>  
    </div>
  </div>
</div>