.form-field {
  border-radius: 5px;
}

.order-form {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }
  
  #order_is_completed {
    width: 30px;
  }
}