.owl-carousel {
    color: #bbb;
    height: 700px;
    .owl-item {
    }
    img {
        height: auto;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}