<header class="header">
  <div class="logo-container">
    <a class="logo" href="#">
      <h1>Sweet Gems Bakery Logo</h1>
    </a>
  </div>
  <nav class ="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "Home", root_url %></li>
      <li class="active"><%= link_to "Menu", '#' %></li>
      <li class="active"><%= link_to "Blog", '#' %></li>
    </ul>
  </nav>
</header>
