<header class="header">
  <div class="logo centered title-area">
    <h1>Sweet Gems Bakery</h1>
  </div>
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><%= link_to "Home", root_url %></li>
        <li class="active"><%= link_to "Menu", '#' %></li>
        <li class="active"><%= link_to "Blog", '#' %></li>
      </ul>
    </section>
  </nav>
</header>